/*Geral*/
*{
    margin: 0;
    padding: 0;
}
h1{
    color: rgb(81,38,14);
    font-family: 'PT Serif', serif;
    font-weight: normal;
}
h2{
        color: rgb(80,80,80);
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: normal;
}
/*Header*/

header{
    display: flex;
    background-color: rgb(255, 255, 255);
    padding:1vh 2vw;
    color: rgb(131, 129, 129);
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-variant-caps: all-small-caps;
    font-size: 2vw;
    border-bottom: 2px solid black;
    
}
#containerlogo{
    padding-right: 2vw;
}
#imagemlogo{
    width: 5vw;
    height: auto;
    margin: 0;
    display: flex;
}
#containernavegacao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
#navegacao-topo{
    list-style: none;
    display: flex;
}
.opcoes-menu{
    padding-right: 3vw;

}
.opcoes-menu:hover{
    color: rgb(81,38,14);
    cursor: pointer;
}
#containerlogin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}
#textologin:hover{
    text-decoration: underline;
    color: rgb(81,38,14);
}
#imagemlogin{
    width: 2.5vw;
    height: auto;
    margin: 0;
    display: flex;
    padding-left: 0.5vw;
}
/*Main*/
.containersmain{
    height: 60vh;
}
.containersmain:nth-child(odd) {
background-color: rgb(81,38,14);
}
.containersmain:nth-child(even){
    background-color: rgb(255, 255, 255);
}

/* INICIO CSS KETHREEN */

#container-mercado{
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left:10vw ;
    padding-right: 10vw;
    color:rgb(223, 209, 209);
}

#opcao3 h4 {
    color: rgb(255, 255, 255);
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: normal;
    font-size: 1.5em;
    padding: 10%;
}

#opcao3 h1 {
    color:rgb(223, 209, 209);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    
}

#opcao4 h1{
    color:rgb(78, 78, 78);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    padding-bottom: 5%;
}
#container-como-comprar{
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left:10vw ;
    padding-right: 10vw;
}
.comprar{
    border-radius:50%;
    width: 150px;
    height: 150px;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.como-comprar img:hover,
.como-comprar img:focus {
  transform: translateX(5%) scale(1.2);
  
}
.como-comprar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10vw;
    text-align: center;
    margin-bottom: 3vh;
}

input[type="submit"]{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 100%;
    border: none;
    margin: auto;
    width: 12%;
    height: 5vh;
    border-radius: 20px;
    margin-top: 14px;
    color: rgb(236, 233, 231);
    background-color: #6b4a3d;
    cursor: pointer;
} 
input[type="submit"]:hover{
    background-color: #b69289;
    transition: 1.5s;
}

/* FIM CSS KETHREEN */

/*Footer*/
footer{
    background-color: rgb(43, 43, 43);
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding:1vh 2vw;
    color: rgb(131, 129, 129);
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-variant-caps: all-small-caps;
    font-size: 2vw;
    border-top: 2px solid black;
}
#containeresquerda{
    display: flex;
    justify-content: center;
    align-items: center;
}
#containerdireita{
    display: flex;
    justify-content: center;
    align-items: center;
}
#footercontatos{
     list-style: none;
        display: flex;

}
.opcoes-contato{
    padding-right: 3vw;
}
.iconescontato
{
    height: auto;
    width: 2vw;
}
.iconescontato:hover
{
    background-color: rgb(128, 126, 126);
    border-radius: 15%;
}